.disp__Post{
    margin-bottom: 20px;
    border-bottom: 1px solid gainsboro;
    padding-bottom: 20px;
}
.post__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.sec__1,
.options{
    display: flex;
    align-items: center;
}
.sec__1 img{
    width: 45px;
    border-radius: 50%;
    border: 3px solid red;
    padding: 2px;
    margin-right: 10px;
}
.sec__1 span{
    margin-right: 10px;
}
.post__body img{
    width: 400px;
}
.post__body video{
    width: 400px;
}
.openion__Section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.postIcon{
    font-size: 25px !important;
    margin-right: 15px;
}
.rotate{
    transform: rotate(-45deg);
}
.Comments{
    padding: 10px;
}