

/*

Header Main File

*/
.header{
    border-bottom: 1px solid #d2d2d2;
}

.mainHeader{
    margin: auto;
    max-width: 1000px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}
.searchBar {
    position: relative;
}
.searchBar input{
    width: 200px;
    height: 25px;
    border: 1px solid #d2d2d2;
    padding-left: 40px;
    transition: 2s;
}
.searchBar input:focus{
    width: 400px;
    transition: 2s;
    border: 1px solid #d2d2d2;
    outline: none;
}
.SearchIcon{
    position: absolute;
    top: 1px;
    left: 10px;
    color: #d2d2d2;
}
.options{
    width: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.headerIcons{
    font-size: 28px !important;
    cursor: pointer;
    color: #000;
}
.headerIcons:hover{
    transform: scale(1.2);
}
.profileImage img{
    width: 30px;
    border-radius: 50%;
    cursor: pointer;
}
.profileImage img:hover{
    border: 1px solid black;
    padding: 2px;
    transform: scale(1.2);
}
.bottomHeader{
    width: 400px;
    position: fixed;
    bottom: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: space-evenly;
    background: #fff;
    border-top: 1px solid #d2d2d2;
    padding: 5px;
    z-index: 100;
}

.dropDownOn{
    width: 200px;
    position: fixed;
    top: 55px;
    right: 280px;
    background: #fff;
    border: 1px solid #d2d2d2;
    z-index: 101;
    display: block;
}
.dropDownOff{
    display: none;
}
.dropDownContent{
    position: relative;
    width: 100%;
}
.dropDownContent ul{
    list-style: none;
    border-bottom: 2px solid #d2d2d2;
}
.dropDownContent ul li{
    padding: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.dropDownContent ul li span{
    margin-left: 10px;
}
.logout{
    padding: 8px;
    cursor: pointer;
}
.dropDownIcons{
    color: #383838;
}




@media(max-width: 768px){
    .mainHeader{
        display: block;
    }
    .logo{
        margin-left: 20px;
    }
    .searchBar{
        display: none;
    }
    .options{
        display: none;
    }
    .bottomHeader{
        display: flex;
    }
}